ml_deploy.txt
[{"id":"e3ec89f3.982448","type":"http request","z":"9a99efd7.affd5","name":"","method":"POST","ret":"obj","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ec31d3d8-6031-4b67-a7ff-052fe49306aa/deployments/95198529-9858-4d20-92dc-3330a06ee201/online","tls":"","x":430,"y":40,"wires":[["4f3e7940.82ec08"]]},{"id":"5d6b4c7d.3bc374","type":"function","z":"9a99efd7.affd5","name":"prediction","func":"var token=msg.payload.token;\nvar yoe=global.get(\"yoe\");\nmsg.payload={\"fields\":[\"YearsExperience\"],\"values\":[[yoe]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":104,"wires":[["e3ec89f3.982448"]]},{"id":"fe7cda81.f803d8","type":"debug","z":"9a99efd7.affd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":40,"wires":[]},{"id":"130bd961.253077","type":"http request","z":"9a99efd7.affd5","name":"","method":"GET","ret":"obj","url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","x":470,"y":300,"wires":[["8305d5f0.835838","5d6b4c7d.3bc374"]]},{"id":"3b2487ad.6cc158","type":"inject","z":"9a99efd7.affd5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["ebf38387.cd9f2"]]},{"id":"ebf38387.cd9f2","type":"function","z":"9a99efd7.affd5","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"983a56ca-a780-4b42-9f0d-8908b61e04dc\"\nvar password=\"1a9c8ee9-d9f7-445c-8ee2-19e79df1e8dc\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"yoe\",msg.payload.yoe)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["130bd961.253077"]]},{"id":"4f3e7940.82ec08","type":"function","z":"9a99efd7.affd5","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["fe7cda81.f803d8","eb900427.c272c8"]]},{"id":"8305d5f0.835838","type":"debug","z":"9a99efd7.affd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"512d7206.68c68c","type":"ui_form","z":"9a99efd7.affd5","name":"","label":"","group":"bc878a83.9c22b8","order":0,"width":0,"height":0,"options":[{"label":"Years of Experince","value":"yoe","type":"number","required":true}],"formValue":{"yoe":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":360,"wires":[["ebf38387.cd9f2","9bf5be6b.6bf7a"]]},{"id":"9bf5be6b.6bf7a","type":"ui_text","z":"9a99efd7.affd5","group":"bc878a83.9c22b8","order":0,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload.yoe}}","layout":"row-spread","x":350,"y":380,"wires":[]},{"id":"eb900427.c272c8","type":"ui_text","z":"9a99efd7.affd5","group":"bc878a83.9c22b8","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":160,"wires":[]},{"id":"bc878a83.9c22b8","type":"ui_group","z":"","name":"Prediction","tab":"69d540.d156dac","disp":true,"width":"6","collapse":false},{"id":"69d540.d156dac","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]