nodered_flow.txt
[{"id":"a09ea721.8dcd48","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"e48460bd.cc7f8","type":"http request","z":"a09ea721.8dcd48","name":"","method":"POST","ret":"obj","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d81843c6-7632-44a2-b9e9-2a9adc662d79/deployments/96cd9981-639d-4249-b857-d22a1c652fe8/online","tls":"","x":430,"y":80,"wires":[["2ac7d10e.3f35ee"]]},{"id":"22755f9.c07ada","type":"function","z":"a09ea721.8dcd48","name":"prediction","func":"var token=msg.payload.token;\nvar Pregnancies=global.get(\"Pregnancies\");\nvar Glucose=global.get(\"Glucose\");\nvar BloodPressure=global.get(\"BloodPressure\");\nvar SkinThickness=global.get(\"SkinThickness\");\nvar Insulin=global.get(\"Insulin\");\nvar BMI=global.get(\"BMI\");\nvar DiabetesPedigreeFunction=global.get(\"DiabetesPedigreeFunction\");\nvar Age=global.get(\"Age\");\n\n// var Pregnancies=3;\n// var Glucose=100;\n// var BloodPressure=69;\n// var SkinThickness=21;\n// var Insulin=98;\n// var BMI=45;\n// var DiabetesPedigreeFunction=0.678;\n// var Age=34;\n\n\nmsg.payload={\"fields\":[\"Pregnancies\",\"Glucose\",\"BloodPressure\",\"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"],\"values\":[[Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":144,"wires":[["e48460bd.cc7f8"]]},{"id":"345e44f8.7140cc","type":"http request","z":"a09ea721.8dcd48","name":"","method":"GET","ret":"obj","url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","x":490,"y":240,"wires":[["22755f9.c07ada"]]},{"id":"36cdec9f.3a0da4","type":"inject","z":"a09ea721.8dcd48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["c9ddfd96.d2cb7"]]},{"id":"c9ddfd96.d2cb7","type":"function","z":"a09ea721.8dcd48","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"a3daee78-f62d-4942-8094-a440f490ed0e\"\nvar password=\"fa78bc4c-b6e9-4e4f-b67e-7dd19c830bdc\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Pregnancies\",msg.payload.Pregnancies)\nglobal.set(\"Glucose\",msg.payload.Glucose)\nglobal.set(\"BloodPressure\",msg.payload.BloodPressure)\nglobal.set(\"SkinThickness\",msg.payload.SkinThickness)\nglobal.set(\"Insulin\",msg.payload.Insulin)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"DiabetesPedigreeFunction\",msg.payload.DiabetesPedigreeFunction)\nglobal.set(\"Age\",msg.payload.Age)\nreturn msg","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["345e44f8.7140cc"]]},{"id":"fbd0ebd9.77b548","type":"ui_form","z":"a09ea721.8dcd48","name":"","label":"","group":"ef89cd2.56aa73","order":5,"width":0,"height":0,"options":[{"label":"Please enter the Pregnancies","value":"Pregnancies","type":"number","required":true},{"label":"Please enter the glucose","value":"Glucose","type":"number","required":true},{"label":"Please enter the blood pressure","value":"BloodPressure","type":"number","required":true},{"label":"Pleasee enter the skin thickness","value":"SkinThickness","type":"number","required":true},{"label":"Please enter the bmi","value":"BMI","type":"number","required":true},{"label":"Please enter the pedigree","value":"DiabetesPedigreeFunction","type":"number","required":true},{"label":"Please enter the age","value":"Age","type":"number","required":true},{"label":"please","value":"Insulin","type":"number","required":true}],"formValue":{"Pregnancies":"","Glucose":"","BloodPressure":"","SkinThickness":"","BMI":"","DiabetesPedigreeFunction":"","Age":"","Insulin":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":460,"wires":[["c9ddfd96.d2cb7","d6779500.a87cf8","2f65ac06.5622c4","6c4b34c4.ee955c","16a89c51.e38b44","631c3ba6.5d2194","7c1e3d71.30ec04","e5f987f6.1123e8","4b102a1a.353c14"]]},{"id":"d6779500.a87cf8","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":9,"width":0,"height":0,"name":"","label":"Pregnancies","format":"{{msg.payload.Pregnancies}}","layout":"row-spread","x":400,"y":420,"wires":[]},{"id":"2f65ac06.5622c4","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":10,"width":0,"height":0,"name":"","label":"Glucose","format":"{{msg.payload.Glucose}}","layout":"row-spread","x":400,"y":480,"wires":[]},{"id":"6c4b34c4.ee955c","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":12,"width":0,"height":0,"name":"","label":"SkinThickness","format":"{{msg.payload.SkinThickness}}","layout":"row-spread","x":410,"y":580,"wires":[]},{"id":"b8eab3eb.8bb19","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":18,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":420,"wires":[]},{"id":"16a89c51.e38b44","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":13,"width":0,"height":0,"name":"","label":"Insulin\t","format":"{{msg.payload.Insulin}}","layout":"row-spread","x":390,"y":620,"wires":[]},{"id":"631c3ba6.5d2194","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":14,"width":0,"height":0,"name":"","label":"BMI","format":"{{msg.payload.BMI}}","layout":"row-spread","x":390,"y":680,"wires":[]},{"id":"7c1e3d71.30ec04","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":15,"width":0,"height":0,"name":"","label":"DiabetesPedigreeFunction","format":"{{msg.payload.DiabetesPedigreeFunction}}","layout":"row-spread","x":460,"y":740,"wires":[]},{"id":"e5f987f6.1123e8","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":16,"width":0,"height":0,"name":"","label":"Age","format":"{{msg.payload.Age}}","layout":"row-spread","x":390,"y":800,"wires":[]},{"id":"4b102a1a.353c14","type":"ui_text","z":"a09ea721.8dcd48","group":"ef89cd2.56aa73","order":11,"width":0,"height":0,"name":"","label":"BloodPressure","format":"{{msg.payload.BloodPressure}}","layout":"row-spread","x":430,"y":540,"wires":[]},{"id":"2ac7d10e.3f35ee","type":"function","z":"a09ea721.8dcd48","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["9313c1e3.d0374"]]},{"id":"9313c1e3.d0374","type":"switch","z":"a09ea721.8dcd48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":340,"wires":[["4159aa5c.a72e04"],["bb8b588e.11f7f8"]]},{"id":"4159aa5c.a72e04","type":"template","z":"a09ea721.8dcd48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Abnormal","output":"str","x":680,"y":320,"wires":[["b8eab3eb.8bb19"]]},{"id":"bb8b588e.11f7f8","type":"template","z":"a09ea721.8dcd48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Normal","output":"str","x":640,"y":380,"wires":[["b8eab3eb.8bb19"]]},{"id":"ef89cd2.56aa73","type":"ui_group","z":"","name":"IRIS","tab":"19d8bbdf.17ac84","disp":true,"width":"6","collapse":false},{"id":"19d8bbdf.17ac84","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]